body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;
}

.Nav-Background{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color:rgb(101, 93, 101);
    z-index: -1;
}

.background{
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color:aquamarine;
    z-index: -1;
}

.My-Picture {
    object-position: center;
    z-index: -1
}
.Bailey {
    color: blue
}

.About-Me-Button {
    display:block;
}

.About-Me-Header {
    text-align: center
}

.About-Me-Body {
    text-align: center
}
.Skills-Button {
    display: block
}

.Projects-Button {
    display: block
}

.Contact-Me-Button {
    display: block
}

.Blurb {
    text-align: right;
    margin-right: 100px;
    font-size: 25px
}


/* .column-right {
float: right;
height: 400px;
width: 200px;
background-color: aquamarine
} */